<ion-content>
  
  <div id="header"style="background-image: url('assets/fondo.png');">
    <div id="app-bar">
      <ion-icon name="arrow-back"routerLink="/menu"></ion-icon>
    </div>

    <div id="logo">
      <img src="assets/icon/logo.png" alt="logo" />
    </div>
    
  </div>
  <div>
    <img src="assets/icon/fondoClub.jpg" alt="fondo">
  </div>

  

  <ion-card>
    
    
    
  </ion-card>
</ion-content>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->




<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registros</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
