<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/menu"></ion-icon>
      <div id="logo">
        <img src="assets/icon/logo.png"alt=""/>
      </div>
      <div></div>
    </div>
    
    <h1 style="font-size: 36px; text-align: center;" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">Registrar Usuario</h1>
    <!-- <p style="text-align: center;" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">Ingresar Datos</p> -->
  </div>

  <div class="wrapper">
    <ion-card class="dorm-wrapper">
      <ion-card-content class="contenedor">
        <form (submit)="registroUsuario()">
          <!-- Otros campos... -->
          
          <ion-item class="contenedor">
            <ion-icon class="icon-register" name="person"></ion-icon>
            <ion-input type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre" name="nombre"></ion-input>
          </ion-item>
          
          <ion-item class="contenedor">
            <ion-icon class="icon-register" name="person"></ion-icon>
            <ion-input type="text" placeholder="Apellido" [(ngModel)]="usuario.apellido" name="apellido"></ion-input>
          </ion-item>
          
          <ion-item class="contenedor">
            <ion-icon class="icon-register" name="mail"></ion-icon>
            <ion-input type="text" placeholder="Email" [(ngModel)]="usuario.email" name="email"></ion-input>
          </ion-item>
          
          <ion-item class="contenedor">
            <ion-icon class="icon-register" name="lock-closed"></ion-icon>
            <ion-input type="text" placeholder="Contraseña" [(ngModel)]="usuario.password" name="password"></ion-input>
          </ion-item>
        
          <!-- <ion-list>
            <ion-item class="contenedor">
              <ion-icon class="icon-register"></ion-icon>
              <ion-select placeholder="Seleccionar rol" [(ngModel)]="usuario.rol" name="rol">
                <div slot="label">Rol</div>
                <ion-select-option value="conquistador">Conquistador</ion-select-option>
                <ion-select-option value="instructor">Instructor</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list> -->
          <ion-list>
            <ion-item class="contenedor">
              <ion-icon class="icon-register"></ion-icon>
              <ion-select placeholder="Seleccionar rol" [(ngModel)]="usuario.rol" name="rol">
                <div slot="label">Rol</div>
                <ion-select-option *ngFor="let rol of roles" [value]="rol">{{ rol.nombre }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          
        
          <ion-button type="submit" expand="block" style="--border-radius: 20px; --background: #9b0202; color: #fff; margin-top: 15px;"> Añadir </ion-button>
        </form>
        
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>


