<ion-content>

  <div id="header" style="background-image: url('assets/fondoClub.jpg');">
    <div id="app-bar">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    </div>

    <div id="logo">
      <img src="assets/icon/logo.png" alt="logo" />


    </div>

  </div>
  <!-- <div>
    <img src="assets/icon/fondoClub.jpg" alt="fondo">
  </div> -->

<!-- <ion-card> -->
  <ion-card-content>
  
    <ion-header>
      <ion-toolbar>
        <ion-searchbar (input)="filterItems($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  

    
      <ion-list>

        <ion-item lines="none" class="column-titles">
          <ion-label class="title-label" style="font-weight: bold;" style="font-weight: bold; border-right: 1px solid #000;">Nombre</ion-label>
          <ion-label class="title-label" style="font-weight: bold;"style="font-weight: bold; border-right: 1px solid #000; text-align: center;">Apellido</ion-label>
          <ion-label class="title-label" style="font-weight: bold;"style="font-weight: bold; border-right: 1px solid #000; text-align: center;">Unidad</ion-label>
          <ion-label class="title-label" style="font-weight: bold; text-align: center;">Clase</ion-label>
        </ion-item>

        <ion-item *ngFor="let item of listaUsuariosConquis">
          <ion-label>{{ item.nombre }}</ion-label>
          <ion-label>{{ item.apellido }}</ion-label>
          <!-- <ion-label>{{ item.unidad }}</ion-label>
          <ion-label>{{ item.clase }}</ion-label> -->
          <!-- <ion-icon name="add-circle-outline" routerLink="/registro-reportes"></ion-icon> -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  <!-- </ion-card> -->
  

</ion-content>




