<ion-content>
  
  <div id="header"style="background-image: url('assets/fondo.png');">
    <div id="app-bar">
      <ion-icon name="arrow-back"routerLink="/instructores"></ion-icon>
    </div>

    <div id="logo">
      <img src="assets/icon/logo.png" alt="logo" />
    </div>
    
  </div>
  <div>
    <img src="assets/icon/fondoClub.jpg" alt="fondo">
  </div>

  <ion-card>
    
    <ion-card-content>
      
      <ion-button expand="block" routerLink="/ver-reporte" style="--background: #9b0202; color: #fff;">Ver Reportes</ion-button><br>
      <ion-button expand="block" routerLink="/ver-actividad" style="--background: #9b0202; color: #fff;">Ver Actividades</ion-button><br>
      
    </ion-card-content>
  </ion-card>
</ion-content>

